<!-- views/partials/header.ejs -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1>
                        Votist
                    </h1>
            <h2>Create custom polls with live results</h2>
            <a href="/register">
                <button class="btn btn-default btn-success btn-lg btn-custom"> Register </button>
            </a>
            <a href="/view-polls">
                <button class="btn btn-default btn-danger btn-lg btn-custom"> Vote now </button>
            </a>
        </div>
    </div>
</div>