<!-- views/partials/main.ejs -->  
<div class="row text-center" id="intro">
                    <div class="col-md-4">
                        <span class="about-icons"><i class="fa fa-bolt" style="color:yellow;" aria-hidden="true"></i></span>
                        <p>Live results</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt maximus lectus. Sed laoreet nunc et metus hendrerit consectetur. Morbi lobortis fringilla aliquet. Donec euismod commodo libero, id pellentesque elit aliquam efficitur. Nulla volutpat commodo venenatis. Nunc viverra massa ut bibendum tristique. Phasellus consectetur mollis ante sed porttitor. Nullam pulvinar lobortis viverra. Sed id metus ut sapien blandit iaculis quis ac nisi. Nullam consequat ex non efficitur commodo. Nullam fermentum elit ut pharetra semper.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span class="about-icons">
                            <i class="fa fa-globe" style="color:lightblue;" aria-hidden="true"></i>
                        </span>
                        <p>Works everywhere</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt maximus lectus. Sed laoreet nunc et metus hendrerit consectetur. Morbi lobortis fringilla aliquet. Donec euismod commodo libero, id pellentesque elit aliquam efficitur. Nulla volutpat commodo venenatis. Nunc viverra massa ut bibendum tristique. Phasellus consectetur mollis ante sed porttitor. Nullam pulvinar lobortis viverra. Sed id metus ut sapien blandit iaculis quis ac nisi. Nullam consequat ex non efficitur commodo. Nullam fermentum elit ut pharetra semper.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span class="about-icons">
                            <i class="fa fa-facebook-official" style="color:darkblue;" aria-hidden="true"></i>
                        </span>
                        <p>Social integration</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt maximus lectus. Sed laoreet nunc et metus hendrerit consectetur. Morbi lobortis fringilla aliquet. Donec euismod commodo libero, id pellentesque elit aliquam efficitur. Nulla volutpat commodo venenatis. Nunc viverra massa ut bibendum tristique. Phasellus consectetur mollis ante sed porttitor. Nullam pulvinar lobortis viverra. Sed id metus ut sapien blandit iaculis quis ac nisi. Nullam consequat ex non efficitur commodo. Nullam fermentum elit ut pharetra semper.
                        </p>
                    </div>
                </div>