<!-- views/partials/polls-settings.ejs -->
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 class="text-center">Your polls</h1> 
        <% if (typeof polls !== 'undefined') { %>
            <ul class="poll-list">
                <% polls.forEach(function(poll){ %>
                <li class="poll-list-item">
                    <a href="polls/poll?username=<%= poll.user.username %>&pollID=<%= poll._id %>">
                        <span class="text"><%= decodeURIComponent(poll.title) %>
                        </span>
                    </a>
                </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p style="text-align:center;"><%= message %></p>
        <% }  %>
    </div>
</div>